*.zip
Rat_JSONs/*.json

ALL_RATS_RAW_DATA/*
!/ALL_RATS_RAW_DATA/*.m
!/ALL_RATS_RAW_DATA/*.py
ALL_RATS_RAW_DATA/EDF_LABELLER_*.m
!/ALL_RATS_RAW_DATA/*.xlsx
ALL_RATS_RAW_DATA/dx bazal annotations and analysis_140721_MYAVUZ_Berken.xlsx
ALL_RATS_RAW_DATA/~*

Rat_CSVs/*
!/Rat_CSVs/*.txt
Rat_CSVsTime/*
!/Rat_CSVsTime/*.txt
Rat_JSONs/*
!/Rat_JSONs/*.txt

Rat_JSONsTime/*
!/Rat_JSONsTime/*.txt

__pycache__
deneme.py
results.py
02_08_2021_Rats_with_Times*
25_07_2021_*/

Rat_Models/*
!/Rat_Models/*.txt

Rat_ModelsTime/*
!/Rat_ModelsTime/*.txt

Rat_JSONs/Calculate_Kappa.py

.gitignore
