*.zip
JSONs/*.json

ALL_RATS_RAW_DATA/*
!/ALL_RATS_RAW_DATA/*.m
!/ALL_RATS_RAW_DATA/*.py
ALL_RATS_RAW_DATA/EDF_LABELLER_*.m
!/ALL_RATS_RAW_DATA/*.xlsx
ALL_RATS_RAW_DATA/dx bazal annotations and analysis_140721_MYAVUZ_Berken.xlsx
ALL_RATS_RAW_DATA/~*

CSVs/*
!/CSVs/*.txt
CSVsTime/*
!/CSVsTime/*.txt
JSONs/*
!/JSONs/*.txt

JSONsTime/*
!/JSONsTime/*.txt

__pycache__
deneme.py
results.py
02_08_2021_Rats_with_Times*
25_07_2021_*/

Models/*
!/Models/*.txt

ModelsTime/*
!/ModelsTime/*.txt

JSONs/Calculate_Kappa.py